In [1]:
!pwd

/Users/kpadhikari/KpInstalls/Geant4/ExamplesBld/HadronTherapyNew

Below, I transfer data (via pd.read_csv() method) from data files into corresponding Padas dataframes.

In [19]:
import pandas as pd

# https://github.com/jupyter/notebook/issues/3805 
#data = pd.read_csv('output_list.txt', header = None)
#pd.read_csv('file.csv', delimiter=' ')
#pd.read_csv('addresses.csv')
#pd.read_csv("whitespace.csv", header=None, delimiter=r"\s+")
dataframeDose = pd.read_csv("./OutputsTmp/Dose.out",delim_whitespace=True) # works
#data = pd.read_csv('./TmpBkp_defMac/Dose.out', sep=" ", header=None) # doesn't work
#data = pd.read_csv('./TmpBkp_defMac/Dose.out', header=None, delimiter=r"\s+")  #works
dfDose = dataframeDose
print(dataframeDose)

       i  j  k      Dose(Gy)      proton_1  proton_1.1  proton  proton.1  O16  \
0      0  0  0  2.560280e-09  2.489850e-09          22     0.0         0  0.0
1      1  0  0  2.741240e-09  2.741240e-09          22     0.0         0  0.0
2      2  0  0  2.812460e-09  2.656530e-09          22     0.0         0  0.0
3      3  0  0  2.551290e-09  2.417280e-09          22     0.0         0  0.0
4      4  0  0  2.729360e-09  2.729360e-09          22     0.0         0  0.0
..   ... .. ..           ...           ...         ...     ...       ...  ...
273  273  0  0  7.160800e-09  7.160800e-09           6     0.0         0  0.0
274  274  0  0  4.903040e-09  4.903040e-09           5     0.0         0  0.0
275  275  0  0  6.173410e-09  6.173410e-09           4     0.0         0  0.0
276  276  0  0  3.418880e-09  3.418880e-09           2     0.0         0  0.0
277  277  0  0  1.736530e-09  1.736530e-09           1     0.0         0  0.0

     O16.1
0        0
1        0
2        0
3        0
4        0
..     ...
273      0
274      0
275      0
276      0
277      0

[278 rows x 10 columns]

In [24]:
dfLet = pd.read_csv("./OutputsTmp/Let.out",delim_whitespace=True) # works
print(dfLet)

       i  j  k      LDT      LTT  proton_1_D  proton_1_T  proton_D  proton_T  \
0      0  0  0  1.23817  1.19365     1.23817     1.19365       0.0       0.0
1      1  0  0  1.23851  1.19613     1.23851     1.19613       0.0       0.0
2      2  0  0  1.22875  1.19883     1.22875     1.19883       0.0       0.0
3      3  0  0  1.23925  1.20128     1.23925     1.20128       0.0       0.0
4      4  0  0  1.22082  1.20367     1.22082     1.20367       0.0       0.0
..   ... .. ..      ...      ...         ...         ...       ...       ...
395  395  0  0  0.00000  0.00000     0.00000     0.00000       0.0       0.0
396  396  0  0  0.00000  0.00000     0.00000     0.00000       0.0       0.0
397  397  0  0  0.00000  0.00000     0.00000     0.00000       0.0       0.0
398  398  0  0  0.00000  0.00000     0.00000     0.00000       0.0       0.0
399  399  0  0  0.00000  0.00000     0.00000     0.00000       0.0       0.0

     O16_D  O16_T
0      0.0    0.0
1      0.0    0.0
2      0.0    0.0
3      0.0    0.0
4      0.0    0.0
..     ...    ...
395    0.0    0.0
396    0.0    0.0
397    0.0    0.0
398    0.0    0.0
399    0.0    0.0

[400 rows x 11 columns]

In [23]:
dfRBE = pd.read_csv("./OutputsTmp/RBE.out",delim_whitespace=True) # works
print(dfRBE)

      Dose(Gy)  ln(S)  Survival  DoseB(Gy)  RBE  depth(slice)
0            0      0         1          0  NaN             0
1            0      0         1          0  NaN             1
2            0      0         1          0  NaN             2
3            0      0         1          0  NaN             3
4            0      0         1          0  NaN             4
...        ...    ...       ...        ...  ...           ...
5995         0      0         1          0  NaN          5995
5996         0      0         1          0  NaN          5996
5997         0      0         1          0  NaN          5997
5998         0      0         1          0  NaN          5998
5999         0      0         1          0  NaN          5999

[6000 rows x 6 columns]

In [21]:
dfStopPow = pd.read_csv("./OutputsTmp/stopAlpha_Cu_1keV_200MeV.out",delim_whitespace=True) # works
print(dfStopPow)

           MeV  MeV*cm2/g  alpha  (into  G4_Cu,  density   =  8.96  g/cm3   )
0     0.001000    60.7609    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN
1     0.001131    62.6050    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN
2     0.001280    64.7216    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN
3     0.001448    67.0138    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN
4     0.001638    69.3265    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN
..         ...        ...    ...    ...     ...      ...  ..   ...    ...  ..
95  122.137000    46.4378    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN
96  138.163000    42.3738    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN
97  156.293000    38.6132    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN
98  176.801000    35.1985    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN
99  200.000000    32.1073    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN

[100 rows x 10 columns]

'''KPA:''' Actually, the above datafile (for stopping power) has only the first two columns. It is showing more than that because it's treating the header info as multiple columns and it's simply placing NaN below those extra columns.

In [22]:
dfStopPow.head()

        MeV  MeV*cm2/g  alpha  (into  G4_Cu,  density   =  8.96  g/cm3   )
0  0.001000    60.7609    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN
1  0.001131    62.6050    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN
2  0.001280    64.7216    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN
3  0.001448    67.0138    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN
4  0.001638    69.3265    NaN    NaN     NaN      NaN NaN   NaN    NaN NaN

In [31]:
dfDose.head()

,i,j,k,Dose(Gy),proton_1,proton_1.1,proton,proton.1,O16,O16.1
0,0,0,0,2.560280e-09,2.489850e-09,22,0.0,0,0.0,0
1,1,0,0,2.741240e-09,2.741240e-09,22,0.0,0,0.0,0
2,2,0,0,2.812460e-09,2.656530e-09,22,0.0,0,0.0,0
3,3,0,0,2.551290e-09,2.417280e-09,22,0.0,0,0.0,0
4,4,0,0,2.729360e-09,2.729360e-09,22,0.0,0,0.0,0

In [26]:
dfRBE.head()

   Dose(Gy)  ln(S)  Survival  DoseB(Gy)  RBE  depth(slice)
0         0      0         1          0  NaN             0
1         0      0         1          0  NaN             1
2         0      0         1          0  NaN             2
3         0      0         1          0  NaN             3
4         0      0         1          0  NaN             4

In [32]:
dfLet.head()

,i,j,k,LDT,LTT,proton_1_D,proton_1_T,proton_D,proton_T,O16_D,O16_T
0,0,0,0,1.23817,1.19365,1.23817,1.19365,0.0,0.0,0.0,0.0
1,1,0,0,1.23851,1.19613,1.23851,1.19613,0.0,0.0,0.0,0.0
2,2,0,0,1.22875,1.19883,1.22875,1.19883,0.0,0.0,0.0,0.0
3,3,0,0,1.23925,1.20128,1.23925,1.20128,0.0,0.0,0.0,0.0
4,4,0,0,1.22082,1.20367,1.22082,1.20367,0.0,0.0,0.0,0.0

In [33]:
import pandas.io.data as web

ModuleNotFoundError: No module named 'pandas.io.data'

https://github.com/jupyter/notebook/issues/3798 Warning: In pandas 0.17.0, the pandas.io.data will be removed in favor of a separately installable pandas-datareader package. This will allow the data modules to be independently updated to your pandas installation. The API for pandas-datareader v0.1.1 is the same as in pandas v0.16.1 (GH8961).

YOu should replace the imports of the following:

**from pandas.io import data, wb**

with 

**from pandas_datareader import data, wb**

In [41]:
from padas_datareader import web

ModuleNotFoundError: No module named 'padas_datareader'

In [40]:
%matplotlib inline
dfLet.plot(y='LDT', color="Green")

ModuleNotFoundError: No module named 'matplotlib'